# Python
__pycache__/

# Virtualenvs
env/
venv/
.venv/

# Sensitive / config
.env

# Misc
ToDo.txt

gunicorn.txt
nginx-conf.txt

/static/images/uploads/
/static/images/

Project Purpose and Context.docx