# Python
__pycache__/

# Virtualenvs
env/
venv/
.venv/

# Sensitive / config
.env

# Misc
ToDo.txt
meta-tags-scretch.txt
gunicorn.txt
nginx-conf.txt

# /static/images/uploads/
# /static/images/


ToDo.txt