{% extends 'base.html' %}
{% block title %}
{{ _('Add Slide') }}
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='dropzon.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cropper.min.css') }}">

<!-- Pickr themes (Color picker for reach text editor) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>

<!-- Include Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<style>
    .dz-details:hover {
        cursor: pointer;
    }

    .dz-remove-btn:hover {
        background-color: #c82333;
        cursor: pointer;
    }


    .alt-input:hover {
        cursor: auto;
    }

    .styled-select {
        margin-bottom: 5px;
    }

    #product-category-form input {
        font-size: 18px;
    }

    #product-category-form textarea {
        font-size: 18px;
    }

    #title-color-picker,
    #subtitle-color-picker {
        display: inline-block;
        margin-left: 8px;
        vertical-align: middle;
    }

    /* Style the color picker button */
    .pcr-button {
        border-radius: 50% !important; /* make it circular */
        width: 28px !important;
        height: 28px !important;
        border: 2px solid #ddd !important; /* subtle border */
        box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* soft shadow */
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    /* Hover effect */
    .pcr-button:hover {
        transform: scale(1.1);
        box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    }


    .cpallet {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .datepickers-row {
        display: flex;
        gap: 15px;
        margin: 10px 0px;
    }

    .date-field {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .date-field label {
        font-size: 14px;
        margin-bottom: 5px;
        color: #444;
    }


</style>
{% endblock %}

{% block content %}

<div class="overlay" id="overlay"></div>
{{ sideBar | safe }}
<div class="containerS" style="width: 80%;">

    <h1 class="title" style="margin-top: 10px; text-align: center;">{{ _('Add Slide') }}</h1>
    <!-- Form for adding a product -->
    <div id="mistakes" style="width: 70%"></div>
    <form id="product-category-form">
        
        <div class="cpallet">
            <input type="text" class="form_input" id="title"
            placeholder="{{ _('Title') }}"
            title="{{ _('Title')}}">
            <!-- Title color -->
            <div id="title-color-picker" class="pcr-button"></div>
        </div>
        <div class="cpallet">        
            <input type="text" class="form_input" id="subtitle"
            placeholder="{{ _('Subtitle') }}"
            title="{{ _('Subtitle')}}">
            <!-- Suptitle color -->
            <div id="subtitle-color-picker" class="pcr-button"></div>
        </div>

        <input type="text" class="form_input" id="event-link" style="width: 98%;"
            placeholder="{{ _('Event Url') }}  {{ root_url }}{{ _('This-is-Your-Event-Link') }} ">
        
        {% set order = Order + 1 %}
        <select class="form_input styled-select" id="order" name="order" style="width: 98%; display: inline-block; margin-top: 10px;">
            {% for i in range(1, order + 1) %}
                <option value="{{ i }}">{{ _('Ordering') }} {{ i }}</option>
            {% endfor %}
        </select>

        <div class="datepickers-row">
            <div class="date-field">
                <label for="startDate">{{ _('Start Date') }}</label>
                <input type="date" class="form_input" id="startDate" name="startDate">
            </div>
            <div class="date-field">
                <label for="expDate">{{ _('Expiration Date') }}</label>
                <input type="date" class="form_input" id="expDate" name="expDate">
            </div>
        </div>

        <div class="dropzone" id="myDropzone">
            <div class="dz-message dz-button">{{ _('Slide image') }}</div>
        </div>

        <input type="hidden" id="language-id" value="{{ languageID }}">

        <div id="saveButton" class="pcButtonS margin10">{{ _('Submit') }}</div>
        <div id="saving" class="pcButtonS margin10 hidden">{{ _('Saving...') }}</div>
    </form>
</div>
<!-- Script for Dropzone (image upload) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>

<!-- Thumbnail image manipulations -->
<script>
    let csrfToken = "{{ csrf_token() }}"
    // Create a FormData object to hold the files
    let formData = new FormData();

    let dzCancel = 'display: none;';
    let outputType = '';
    // Initialize Dropzone
    Dropzone.autoDiscover = false;
    let myDropzone = new Dropzone("#myDropzone", {
        url: "/upload",
        autoProcessQueue: false,
        maxFiles: 1,  // Limit the number of files to 1
        addRemoveLinks: false,  // Disable default remove link
        previewsContainer: "#myDropzone",
        clickable: true,
        init: function () {
            let dz = this;


            dz.on("addedfile", function (file) {
                // Check file type
                const validTypes = ['image/jpeg', 'image/jpg', 'image/png'];
                if (!validTypes.includes(file.type)) {
                    let ms = "{{ _('File should be in PNG or JPG/JPEG format.') }}"
                    alert(ms)
                    myDropzone.removeAllFiles(true);
                    return;
                }

                // Check file size (1 MB = 1048576 bytes)
                if (file.size > 1048576) {
                    let ms = "{{ _('File size should not exceed 1MB.') }}"
                    alert(ms)
                    myDropzone.removeAllFiles(true);
                    return;
                }

                // Determine output type based on file type
                outputType = file.type;

                // Create a new FileReader instance
                let reader = new FileReader();

                // Define the onload function for the FileReader
                reader.onload = function (event) {
                    // Get the image data URL from the FileReader
                    let imageUrl = event.target.result;

                    // Open the image editor modal
                    openImageEditorModal(imageUrl, function (editedImageBlob) {
                        // Create a new Dropzone file object from the edited image blob
                        let editedFile = new File([editedImageBlob], file.name, { type: file.type });
                        dz.removeFile(file);
                        dz.addFile(editedFile);
                    });
                };

                // Read the image file as a data URL
                reader.readAsDataURL(file);

                // Add a custom remove button to the preview element
                let removeButton = Dropzone.createElement("<button class='dz-remove-btn'>&times;</button>");
                removeButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    dz.removeFile(file);
                    dzCancel = 'display: none;';
                });
                file.previewElement.appendChild(removeButton);

                let progressBars = file.previewElement.querySelectorAll("[data-dz-uploadprogress], .dz-progress");
                progressBars.forEach(function (progressBar) {
                    progressBar.style.display = "none";
                });

                // Add a text input for the alt attribute
                let altInput = Dropzone.createElement("<input type='text' class='alt-input' placeholder='Enter alt text'>");
                file.previewElement.appendChild(altInput);
            });

            dz.on("complete", function (file) {
                // Hide progress bar when upload is completed
                let progressBars = file.previewElement.querySelectorAll("[data-dz-uploadprogress], .dz-progress");
                progressBars.forEach(function (progressBar) {
                    progressBar.style.display = "none";
                });
            });
        }

    });

    // Image Editor Modal Logic
    let cropper;

    function openImageEditorModal(imageUrl, callback) {

        // Show the overlay
        document.getElementById('overlay').classList.add('show');

        // Create modal element
        let imageEditorModal = document.createElement('div');
        imageEditorModal.id = 'imageEditorModal';
        imageEditorModal.className = 'modal open';
        imageEditorModal.innerHTML = `
           <img id="imageToEdit" src="${imageUrl}" alt="Image to edit">
           <br>
           <button id="saveEditedImage">{{ _('Crop') }}</button>
           <button id="cancelEdit" style="${dzCancel}">{{ _('Done') }}</button>
       `;
        document.body.appendChild(imageEditorModal);

        let imageToEdit = document.getElementById('imageToEdit');

        cropper = new Cropper(imageToEdit, {
            aspectRatio: 16 / 9,  // Set the aspect ratio to 16:9
            viewMode: 1,
            ready: function () {
                // Get the Cropper instance
                let cropperInstance = this.cropper;

                // Get the natural size of the image
                let naturalWidth = cropperInstance.imageData.naturalWidth;
                let naturalHeight = cropperInstance.imageData.naturalHeight;

                // Calculate the maximum size of the crop box
                let maxCropBoxWidth = naturalWidth;
                let maxCropBoxHeight = naturalWidth;

                // Set the crop box data to the maximum size
                cropperInstance.setCropBoxData({
                    width: maxCropBoxWidth,
                    height: maxCropBoxHeight,
                    left: 0,
                    top: 0
                });
            }
        });

        // document.getElementById('saveEditedImage').onclick = function () {
        //     cropper.getCroppedCanvas().toBlob(function (blob) {
        //         dzCancel = 'display: true;';
        //         closeImageEditorModal(imageEditorModal);  // Close the modal first
        //         callback(blob);
        //     });

        // };

        document.getElementById('saveEditedImage').onclick = function () {
            cropper.getCroppedCanvas().toBlob(function (blob) {
                dzCancel = 'display: true;';
                closeImageEditorModal(imageEditorModal);
                callback(blob);
            }, outputType, 0.8); // Pass output type and quality
        };

        document.getElementById('cancelEdit').onclick = function () {
            closeImageEditorModal(imageEditorModal);
        };

        // Event delegation to handle clicks on dynamically added .dz-preview elements
        document.querySelector('.dz-preview').addEventListener('dblclick', function (event) {
            if (event.target.closest('.dz-preview')) {
                let file = myDropzone.getAcceptedFiles()[0];  // Get the file object associated with the clicked preview
                if (file) {
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        // Get the image data URL from the FileReader
                        var imageUrl = event.target.result;

                        // Open the image editor modal
                        openImageEditorModal(imageUrl, function (editedImageBlob) {
                            // Create a new Dropzone file object from the edited image blob
                            var editedFile = new File([editedImageBlob], file.name, { type: file.type });
                            myDropzone.removeFile(file);
                            myDropzone.addFile(editedFile);
                        });
                    };

                    // Read the image file as a data URL
                    reader.readAsDataURL(file);
                }
            }
        });
    }

    function closeImageEditorModal(modal) {
        cropper.destroy();
        modal.remove();
        // Hide the overlay
        document.getElementById('overlay').classList.remove('show');
    }

    // When the form is submitted
    const saveButton = document.getElementById('saveButton');
    saveButton.addEventListener('click', function (event) {
        event.preventDefault();

        const saveButton = document.getElementById('saveButton');
        const saving = document.getElementById('saving');

        saveButton.classList.add('hidden');
        saving.classList.remove('hidden');

        let formData = new FormData();


        // Get title, subtitle (optional) and their colors
        let titleInput = document.getElementById('title');
        let subtitleInput = document.getElementById('subtitle');

        let title = titleInput.value || "";
        let subtitle = subtitleInput.value || "";

        let titleColor = titleInput.style.color || "";
        let subtitleColor = subtitleInput.style.color || "";

        let order = document.getElementById('order');

        // Get event link (required)
        let eventLink = document.getElementById('event-link').value;
        if (!eventLink) {
            alert("{{ _('Event URL is required') }}");
            saveButton.classList.remove('hidden');
            saving.classList.add('hidden');
            return;
        }

        // Validate URL format
        try {
            // This will throw if the string is not a valid URL
            new URL(eventLink);
        } catch (e) {
            alert("{{ _('Please enter a valid URL') }}");
            saveButton.classList.remove('hidden');
            saving.classList.add('hidden');
            return;
        }

        // Get dates (required)
        let startDate = document.getElementById('startDate').value;
        let expDate = document.getElementById('expDate').value;
        if (!startDate || !expDate) {
            alert("{{ _('Start Date and Expiration Date are required') }}");
            saveButton.classList.remove('hidden');
            saving.classList.add('hidden');
            return;
        }

        // Get image (required)
        let file = myDropzone.files[0];
        let altText = "";
        if (file && file.previewElement && file.previewElement.querySelector(".alt-input")) {
            altText = file.previewElement.querySelector(".alt-input").value;
        }
        if (!file) {
            alert("{{ _('Please upload an image') }}");
            saveButton.classList.remove('hidden');
            saving.classList.add('hidden');
            return;
        }


        // Get other existing fields (optional)
        let languageID = document.getElementById('language-id').value || "";

        // Append everything to FormData
        formData.append('title', title);
        formData.append('titleColor', titleColor);
        formData.append('subtitle', subtitle);
        formData.append('subtitleColor', subtitleColor);

        formData.append('order', order.value);
        formData.append('last_order', order.options[order.options.length - 1].value);
        
        formData.append('eventLink', eventLink);
        formData.append('startDate', startDate);
        formData.append('expDate', expDate);

        formData.append('languageID', languageID);
        formData.append('altText', altText);
        formData.append('file', file);

        // Send request
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/add_slide');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);

        xhr.onload = function () {
            if (xhr.status === 200) {
                let response = JSON.parse(xhr.responseText);
                let mistakesDiv = document.getElementById('mistakes');
                mistakesDiv.innerHTML = '';

                if (response.status === '1') {
                    alert(`{{ _('Slide added successfully!') }}`)
                    window.location.reload();
                } else {
                    mistakesDiv.textContent = response.answer || "{{ _('An error occurred') }}";
                    mistakesDiv.style.color = 'red';
                    mistakesDiv.style.display = 'flex';
                    mistakesDiv.scrollIntoView({ behavior: 'smooth' });
                    saveButton.classList.remove('hidden');
                    saving.classList.add('hidden');
                }
            } else {
                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');
                console.error('Error adding product:', xhr.responseText);
            }
        };

        xhr.send(formData);
    });

</script>
<!-- End of thumbnail image manipulations -->

<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    // const inputElement = document.getElementById("product-link");

    // inputElement.addEventListener("keyup", (event) => {
    //     const newValue = event.target.value.replace(/\s/g, "-");
    //     inputElement.value = newValue;
    // });




</script>

<!-- Pickr JS -->
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr"></script>
<script>
    function initColorPicker(pickerId, inputId, defColor) {
        return Pickr.create({
            el: pickerId,
            theme: 'classic', // or 'monolith', 'nano'
            default: defColor, // pleasant soft blue
            components: {
                preview: true,
                opacity: true,
                hue: true,
                interaction: {
                    input: true,
                    save: true,
                    clear: true  // adds the clear button
                }
            }
        })
        .on('save', (color, instance) => {
            const input = document.getElementById(inputId);
            if (color) {
                const hexColor = color.toHEXA().toString();
                console.log(hexColor);
                input.style.color = hexColor;
            }
            instance.hide(); // close picker after save
        })
        .on('clear', (instance) => {
            const input = document.getElementById(inputId);
            input.style.color = ""; // reset to default
            instance.hide(); // close picker after clear
        });
    }

    // Initialize for both inputs
    initColorPicker('#title-color-picker', 'title', '#3498db');
    initColorPicker('#subtitle-color-picker', 'subtitle', '#D90D6C');
</script>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#startDate", {
        dateFormat: "Y-m-d"
    });

    flatpickr("#expDate", {
        dateFormat: "Y-m-d"
    });
</script>


{% endblock %}